body {
    background-color: rgba(46,47,42,255);
    text-align: center;
}
/* no I didn't steal this from a video */
.links li a {
    transition: all 0.3s ease 0s;
}
.links li a:hover {
    color: #fa9547;
}
.links {
    list-style: none;
}
.links li{
    display: inline-block
}
header {
    background-color: rgb(38, 39, 39, 255);
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    display: flex
}