/* Text */

/*title*/
h1 {
    font-family: Arial, sans-serif; color: rgba(250,149,71,255);
    text-align: center;
  }

/*the [] i think*/
  h2 {
    font-family: Arial, sans-serif; color: rgba(250,149,71,255);
    text-align: center;
  }
/*the [] i think*/
h3 {
  font-family:  Arial, Helvetica, sans-serif; color: rgba(115,111,96,255);
  text-align: right;
}
/*text*/
h4 {
  font-family: Arial, Helvetica, sans-serif; color: rgba(115,111,96,255);
  text-align: center;
}
/*links*/
a {
  font-family: Arial, Helvetica, sans-serif; color: rgba(115,111,96,255);
  font-size: large;
}
/*ascii art*/
pre {
    text-align: center; color: rgba(230,149,71,255)
}

/* Background and stuff like that */

body {
  background-color: rgba(46,47,42,255);
  text-align: center;
}
/* no I didn't steal this from a video */
.links li a {
  transition: all 0.3s ease 0s;
}
.links li a:hover {
  color: #fa9547;
}
.links {
  list-style: none;
}
.links li{
  display: inline-block
}
header {
  background-color: rgb(38, 39, 39, 255);
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  display: flex
}