/* TITTLES */
h1, h2 {
    color: #f7a357 ;
    
}

/* NORMAL TEXT */
h4 {
    color: #fae8bc;
}

/* LINK */
a {
    color: #f9b18e;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    width: 125px;
    padding: 4px;
    display: inline-block;
}

a:hover {
    color: #8f8e8a;
    background: #131313;
}


hr {
    border: 1px solid #9d5550 ;
    width: 600px;
}

img {
    border: 3px solid #dcac70 ;
    border-radius: 5px;
}

body {
    background-color: #291d22 ;
    text-align: center;
    padding: 0px;
    width: 900px;
    margin: 0 auto;
    align-items: flex-end;
    padding-left: calc(100vw - 100%);
}