/* TITTLES */
h1, h2 {
    color: #f7a357;
    
}

.tittle {
    margin-top: 0px;
}


/* NORMAL TEXT */
h4 {
    color: #fae8bc;
}

/* LINK */
a {
    color: #f9b18e;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    width: 125px;
    padding: 4px;
    display: inline-block;
}

a:hover {
    color: #8f8e8a;
    background: #131313;
}


hr {
    border: 1px solid #9d5550 ;
    width: 600px;
}

img {
    border: 3px solid #dcac70;
    border-radius: 5px;
}

html {
    background-image: url("/images/star.gif");
}

body {
    background-color: #171715;
    text-align: center;
    padding: 0px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 900px;
    align-items: flex-end;
    padding-left: calc(100vw - 100%);
    box-shadow: 8px -2px 16px rgba(0,0,0,0.3),-8px 0px 16px rgba(0,0,0,0.3);
}